@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#wrap{
    width: 100%;
    height: 100%;
}

header .logo_text{
    position: absolute;
    right:35px; 
    top:75px;
    font-family: 'BMDOHYEON' ;
    color: red;
}