@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#wrap{
    width: 100%;
    height: 100%;
}

header .logo_text{
    position: absolute;
    right:35px; 
    top:75px;
    font-family: 'BMDOHYEON' ;
    color: red;
}

#wrap header{
    width: 180px;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
}

#wrap header nav{
    width: 100%;
    height: 100%;
}

#wrap header nav ul{
    width: 100%;
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

#wrap header nav ul li{
    cursor: pointer;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    position: relative;
}

#wrap header nav ul li a{
    font-size :16px;
    color: black;
    font-weight: 600;
    line-height: 30px;
    
}

#wrap header nav ul li::after{
    content: "";
    display: block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background : black;
    left: 5px;
    top: 13px;  
    position: absolute;
}

#wrap header nav ul li:hover a, #wrap header nav ul li.on a{
    color : #ed3140;

}


#wrap header nav ul li:hover:after , #wrap header nav ul li.on:after{
    background : #ed3140;
}


footer{
    width : 150px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding : 0px 20px 30px 20px;
    font-size : 11px;
    z-index: 12;
}

footer address{
    padding : 0px 0px 15px 0px;
    clear: both;
}

footer > a {
    display:inline-block;
    width: 15px;
    height: 16px;
    float : right; 
}

footer>a.facebook{
    background:url(./image/facebook.png)
    no-repeat;
    background-size: contain;
    margin: 0 0 0 auto;
}


footer>a.twitter{
    background:url(./image/twitter.png)
    no-repeat;
    background-size: contain;
}

footer>a.instargram{
    background:url(./image/instargram.jpg)
    no-repeat;
    background-size: contain;
}
#container{
    width: 100%;
    height: 100%;
    
}

#container .office{

    background : #ed3140;
    display: inline-block;
}

#container .book{

    background : #eeeeee;
    display: inline-block;
    margin-left: -5px;
}
#container .faq{
 
    background : #cccccc;
    display: inline-block;
    margin-left: -5px;
}
#container .contact{

    background : #dddddd;
    display: inline-block;
}